doctype html
html(lang='en')
  head
    style
      include public/style.css
  body
  h2 Urls Statistics
      table
          tr
            th Original Url
            th Short Url
            th Count 
            th Date 
      
          each url in urls 
            tr
              td= url.originalUrl
              td= url.shortUrl
              td= url.count
              td= url.date